{% extends 'base.html' %}
{% load static %}


{% block content %}




<div class="container my-5">
    <br />
<h1>ADD IMAGE</h1>
    <br />
    <hr />
    <form action="" method="POST" enctype="multipart/form-data">
    	{% csrf_token %}
    	<input type="file" name="images, video" id="" class="form-control" multiple>
    	<br>
    	<button type="submit" class="btn btn-sm btn-primary my-3">Submit</button>
        <a href="{% url 'album' %}" class="btn btn-sm btn-danger">Cancel</a>
    </form>
</div>









{% endblock %}







