{% extends 'base.html' %}
{% load static %}

{% block title %}
	About
{% endblock title %}

{% block content %}
<br><br><br>

<style type="text/css">
	
	.container {
	}

</style>

<div class="container">
	


	<div class="card">

		<div class="card-header">
		    <h1>
		    	<small>
					<img class="logo_mitmachen" src="{% static 'mksd/images/LOGO.jpeg' %}" width="150px">
				</small>

				Datenschutzerklärung
			</h1>

		</div>
		<div class="card-body">
		    <blockquote class="blockquote mb-0">
						<p>Unsere Datenschutzrichtlinie erläutert unsere Grundsätze für die Erfassung, Verarbeitung und Speicherung Ihrer Daten. In dieser Richtlinie wird speziell erläutert, wie wir, unsere Partner und Benutzer unserer Dienste Cookies bereitstellen und welche Optionen Sie zur Steuerung dieser Cookies haben.</p>


		    </blockquote>
		</div>

		<div class="card-header">
			<center><h2>Was sind Cookies?</h2></center>

		</div>

		<div class="card-body">
		    <blockquote class="blockquote mb-0">
				<p>Cookies sind kleine Daten, die in Textdateien gespeichert sind und auf Ihrem Computer oder einem anderen Gerät gespeichert werden, wenn Websites in einen Browser geladen werden. Sie werden häufig verwendet, um sich an Sie und Ihre Vorlieben zu erinnern, entweder für einen einzelnen Besuch (über ein „Sitzungscookie“) oder für mehrere wiederholte Besuche (mithilfe eines „dauerhaften Cookies“). Sie gewährleisten eine konsistente und effiziente Benutzererfahrung und führen wichtige Funktionen aus, z. B. die Registrierung und Anmeldung von Benutzern. Cookies können von der von Ihnen besuchten Website (als „Erstanbieter-Cookies“ bezeichnet) oder von Dritten gesetzt werden B. diejenigen, die Inhalte bereitstellen oder Werbe- oder Analysedienste auf der Website bereitstellen („Cookies von Drittanbietern“).
				<br><br>
				Sowohl Websites als auch HTML-E-Mails können auch andere Tracking-Technologien wie „Web Beacons“ oder „Pixel“ enthalten. Dies sind normalerweise kleine transparente Bilder, die uns Statistiken für ähnliche Zwecke wie Cookies liefern. Sie werden häufig in Verbindung mit Cookies verwendet, obwohl sie nicht auf die gleiche Weise auf Ihrem Computer gespeichert werden. Wenn Sie Cookies deaktivieren, werden Web Beacons möglicherweise weiterhin geladen, ihre Funktionalität wird jedoch eingeschränkt.</p>



		    </blockquote>
		</div>


		
		<div class="card-header">
			<center><h2>Wie wir Cookies verwenden</h2></center>

		</div>

		<div class="card-body">
		    <blockquote class="blockquote mb-0">
				<p>Wir verwenden Cookies für verschiedene Zwecke. Einige Cookies sind aus technischen Gründen erforderlich. Einige ermöglichen eine personalisierte Erfahrung sowohl für Besucher als auch für registrierte Benutzer. und einige ermöglichen die Anzeige von Werbung aus ausgewählten Netzwerken von Drittanbietern. Einige dieser Cookies können gesetzt werden, wenn eine Seite geladen wird oder wenn ein Besucher eine bestimmte Aktion ausführt (z. B. Klicken auf die Schaltfläche „Gefällt mir“ oder „Folgen“ in einem Beitrag).
				<br><br>
				Viele der von uns verwendeten Cookies werden nur gesetzt, wenn Sie ein registrierter WordPress.com-Benutzer sind (Sie müssen sich beispielsweise nicht jedes Mal anmelden), während andere gesetzt werden, wenn Sie eine unserer Websites besuchen, unabhängig davon, ob Du hast ein Konto.
				<br><br>
				Weitere Informationen zu den Auswahlmöglichkeiten für die von uns verwendeten Cookies finden Sie im Abschnitt Steuern von Cookies weiter unten.</p>

		    </blockquote>
		</div>

		<div class="card-header">
			<center><h2>Wo wir Cookies platzieren</h2></center>

		</div>

		<div class="card-body">
		    <blockquote class="blockquote mb-0">
				<p>Wir setzen Cookies an verschiedenen Orten in unseren Diensten. Diese schließen ein:
				<br><br>
				Auf unseren Websites (einschließlich automattic.com, wordpress.com, vip.wordpress.com, jetpack.com, woocommerce.com, Crowdsignal.com, gravatar.com, intensedebate.com, vaultpress.com, akismet.com, simplenote.com) , simperium.com, leandomainsearch.com, cloudup.com, longreads.com und happy.tools).
				<br><br>
				In den administrativen Dashboards unserer Websites wie Calypso und wp-admin.
				<br>
				Auf Websites hosten wir für unsere Benutzer.
				Auf Websites, die unsere Plugins verwenden (z. B. Jetpack).
				In den E-Mails, die wir senden.</p>

		    </blockquote>
		</div>

		<div class="card-header">
			<center><h2>Arten von Cookies</h2></center>

		</div>

		<div class="card-body">

		    <blockquote class="blockquote mb-0">
				<p>In der folgenden Tabelle werden die Arten von Cookies erläutert, die wir auf unseren Websites verwenden, und warum wir sie verwenden.</p>
		    </blockquote>

		    <blockquote class="blockquote mb-0">
				<figure class="wp-block-table">
					<table class="table table-bordered border-primary">
						<tbody>
						<tr>
							<td>
								<strong>
									Kategorie von Cookies
								</strong>
							</td>
							<td>
								<strong>
									Warum wir diese Cookies verwenden
								</strong>
							</td>
						</tr>

						<tr>
							<td>Erforderlich</td>
							<td>
								Diese Cookies sind für die Ausführung grundlegender Funktionen unserer Websites und Dienste unerlässlich und für den Betrieb bestimmter Funktionen erforderlich. Dazu gehören diejenigen, die erforderlich sind, damit registrierte Benutzer sich authentifizieren und kontobezogene Funktionen ausführen können, von Benutzern festgelegte Einstellungen wie Kontoname, Sprache und Standort speichern und sicherstellen können, dass unsere Dienste ordnungsgemäß funktionieren.
							</td>
						</tr>

						<tr>
							<td>Analytik und Leistung</td>
							<td>
								Mit diesen Cookies können wir die Leistung optimieren, indem wir Informationen darüber sammeln, wie Benutzer mit unseren Websites interagieren, einschließlich der am häufigsten besuchten Seiten sowie andere Analysedaten. Wir verwenden diese Details, um die Funktionsweise unserer Websites zu verbessern und um zu verstehen, wie Benutzer mit ihnen interagieren.
							</td>
						</tr>

						<tr>
							<td>Werbung</td>
							<td>
									Diese Cookies werden von uns und unseren Werbepartnern gesetzt, um Ihnen relevante Inhalte bereitzustellen und die Wirksamkeit dieser Inhalte zu verstehen. Sie können verwendet werden, um Informationen über Ihre Online-Aktivitäten im Laufe der Zeit und auf verschiedenen Websites zu sammeln, um Ihre Präferenzen vorherzusagen und um Ihnen relevantere Werbung anzuzeigen. Mit diesen Cookies kann auch ein Profil über Sie und Ihre Interessen erstellt und personalisierte Anzeigen basierend auf Ihrem Profil geschaltet werden.
							</td>
						</tr>


						</tbody>
					</table>
				</figure>
		    </blockquote>

		</div>


		<div class="card-header">
			<center><h2>Arten von Cookies</h2></center>

		</div>

		<div class="card-body">
		    <blockquote class="blockquote mb-0">
				<p>Zusätzlich zu den auf unseren eigenen Websites gesetzten Cookies verwenden wir Cookies für unsere Site Stats- Funktion. Dies entspricht der eindeutigen Anzahl von Besuchern einer Site sowie der Anzahl von bestimmten geografischen Standorten. Ein Besucher wird gezählt, wenn wir in einem bestimmten Zeitraum zum ersten Mal einen Benutzer oder Browser sehen.</p>

		    </blockquote>
		</div>


		<div class="card-header">
			<center><h2>Beispiele</h2></center>

		</div>

		<div class="card-body">
		    <blockquote class="blockquote mb-0">
				<p>Nachfolgend finden Sie Beispiele für die von Automattic gesetzten Cookies mit Erläuterungen zu deren Zweck. Einige dieser Cookies werden in unserem gesamten Netzwerk gesetzt, während andere für einzelne Dienste spezifisch sind (z. B. WordPress.com, Longreads usw.). Bitte beachten Sie, dass dies keine vollständige Liste ist, sondern repräsentativ sein soll. Informationen zu Cookies, die von Dritten wie unseren Anzeigenpartnern gesetzt werden können, finden Sie unten. Darüber hinaus setzen wir gelegentlich Referrer-Cookies auf mit Jetpack verbundenen Websites mithilfe von WooCommerce.
				<br><br>
				Darüber hinaus können Personen und Unternehmen, die unsere Dienste zum Veröffentlichen oder Hosten ihrer eigenen Websites nutzen, zusätzliche Cookies platzieren. Weitere Informationen zu diesen Cookies finden Sie weiter unten.</p>

		    </blockquote>
		</div>

<br><br>

<!------------------------------->
		<div class="card-header">
			<center><h2>Erforderlich</h2></center>

		</div>
<br>
		<div class="card-body">
		    <blockquote class="blockquote mb-0">

				<figure class="wp-block-table">
					<table class="table table-bordered border-primary">
						<tbody>
						<tr>
							<td>
								<strong>
									Plätzchen
								</strong>
							</td>
							<td>
								<strong>
									Zweck
								</strong>
							</td>
						</tr>

						<tr>
							<td>__ssid</td>
							<td>
								Zur Zahlungsabwicklung und zur Unterstützung der Betrugserkennung.
							</td>
						</tr>

						<tr>
							<td>__stripe_sid / __stripe_mid</td>
							<td>
								Zur Zahlungsabwicklung und zur Unterstützung der Betrugserkennung.
							</td>
						</tr>

						<tr>
							<td>_longreads_prod_new</td>
							<td>
									Authentifizierung für Longreads.com-Mitgliedskonten. Nur aktiv, wenn angemeldet, auf * .longreads.com-Domains.
							</td>
						</tr>

						<tr>
							<td>akm_mobile</td>
							<td>
									Speichert, ob ein Benutzer die mobile Version einer Website angezeigt hat.
							</td>
						</tr>

						<tr>
							<td>botdlang</td>
							<td>
									Wird verwendet, um die Sprache zu verfolgen, die ein Benutzer ausgewählt hat, um beliebte Blogs anzuzeigen.
							</td>
						</tr>

						<tr>
							<td>country_code</td>
							<td>
									Wird verwendet, um zu bestimmen, ob das Cookie-Banner angezeigt werden soll oder nicht. Sofort beim Laden der Seite einstellen und 6 Stunden lang aufbewahren, um sich an das Land des Besuchers zu erinnern.
							</td>
						</tr>

						<tr>
							<td>csrftoken</td>
							<td>
										Python / Ajax-Sicherheitscookie, der auf accounts.longreads.com verwendet wird.
							</td>
						</tr>

						<tr>
							<td>_longreads_prod_new</td>
							<td>
									Authentifizierung für Longreads.com-Mitgliedskonten. Nur aktiv, wenn angemeldet, auf * .longreads.com-Domains.
							</td>
						</tr>

						<tr>
							<td>forterToken</td>
							<td>
									Zur Zahlungsabwicklung und zur Unterstützung der Betrugserkennung.
							</td>
						</tr>

						<tr>
							<td>landingpage_currency</td>
							<td>
									Definiert die Währung, die auf den Zielseiten von WordPress.com angezeigt wird.
							</td>
						</tr>

						<tr>
							<td>pd_dashboard</td>
							<td>
										Zeichnet den zuletzt verwendeten Ordner im Crowdsignal-Dashboard auf, damit er beim nächsten Besuch des Benutzers wieder geöffnet werden kann.
							</td>
						</tr>

						<tr>
							<td>_longreads_prod_new</td>
							<td>
									Authentifizierung für Longreads.com-Mitgliedskonten. Nur aktiv, wenn angemeldet, auf * .longreads.com-Domains.
							</td>
						</tr>

							<tr>
							<td>PD_USER_AUTH</td>
							<td>
									Anmelde-Cookie zur Identifizierung des Crowdsignal-Benutzers.
							</td>
						</tr>

						<tr>
							<td>sensitive_pixel_option</td>
							<td>
									Erinnert sich an den Status der Besucherakzeptanz für das Cookie-Banner. Nur festlegen, wenn der Besucher auf Akzeptieren klickt.
							</td>
						</tr>

						<tr>
							<td>twostep_auth</td>
							<td>
									Festlegen, wann der Benutzer mit der Zwei-Faktor-Authentifizierung angemeldet ist.
							</td>
						</tr>

						<tr>
							<td>wordpress_logged_in *</td>
							<td>
									Überprüft, ob der aktuelle Besucher ein angemeldeter WordPress.com-Benutzer ist.
							</td>
						</tr>

						<tr>
							<td>wordpress_test_cookie</td>
							<td>
									Überprüft, ob Cookies aktiviert sind, um eine angemessene Benutzererfahrung zu bieten.
							</td>
						</tr>

						<tr>
							<td>wp-settings- {user_id}</td>
							<td>
										Behält die wp-admin-Konfiguration eines Benutzers bei.
							</td>
						</tr>

						<tr>
							<td>wp_sharing_ {id}</td>
							<td>
									Verfolgt, ob ein Benutzer bereits eine Aktion ausgeführt hat oder nicht.
							</td>
						</tr>





						</tbody>
					</table>
				</figure>


		    </blockquote>
		</div>


<br><br>




<!------------------------------->
		<div class="card-header">
			<center><h2>Analytik und Leistung</h2></center>

		</div>

	<div class="card-body">
		<blockquote>
			<figure class="wp-block-table">
				<table class="table table-bordered border-primary">
					<tbody>
						<tr>
							<td>
								<strong>
									Plätzchen
								</strong>
							</td>
							<td>
								<strong>
									Zweck
								</strong>
							</td>
						</tr>

						<tr>
							<td>__pdvt</td>
							<td>
								Wird im Protokoll der Crowdsignal-Umfragedaten verwendet, um das Debuggen von Kundenproblemen zu unterstützen.
							</td>
						</tr>

						<tr>
							<td>_hjIncludedInSamplemp<br>_6d7c50ad560e01715a871a117a2fbd90<br>_m</td>
							<td>
									Sammelt Informationen, die uns helfen zu verstehen, wie Besucher mit unseren Websites interagieren, wodurch wir ein besseres Besuchererlebnis schaffen können.
							</td>
						</tr>

						<tr>
							<td>ab</td>
							<td>
								Wird zum „AB-Testen“ neuer Funktionen verwendet.
							</td>
						</tr>

						<tr>
							<td>nux_flow_name</td>
							<td>
								Gibt an, welcher Benutzeranmeldefluss dem Benutzer angezeigt wurde.
							</td>
						</tr>

						<tr>
							<td>tk_ni / tk_ai / tk_qs</td>
							<td>
								Sammelt Informationen für unser eigenes Analyse-Tool von Erstanbietern über die Verwendung unserer Dienste. Eine Sammlung interner Metriken für Benutzeraktivitäten, die zur Verbesserung der Benutzererfahrung verwendet werden.
							</td>
						</tr>

						<tr>
							<td>tk_ * r</td>
							<td>
								Empfehlungscookies zur Analyse des Empfehlungsverhaltens für mit Jetpack verbundene Websites mithilfe von WooCommerce.
							</td>
						</tr>

						<tr>
							<td>wp-Affiliate-Tracker</td>
							<td>
								Erinnert sich an die ID des Partners, der den aktuellen Benutzer an WordPress.com verwiesen hat
							</td>
						</tr>

						<tr>
							<td>utma /<br> utmb /<br> utmc /<br> utmt / <br>utmz / <br>ga / <br>gat / <br>gid</td>
							<td>
								Google Analytics. Sammelt Informationen, die uns helfen zu verstehen, wie Besucher mit unseren Websites interagieren, wodurch wir eine bessere Erfahrung für unsere Besucher schaffen können. Unsere Nutzer können Google Analytics auch auf ihren eigenen Websites implementieren.
							</td>
						</tr>						



					</tbody>
				</table>
			</figure>
		</blockquote>
	</div>

<!------------------------------->
		<div class="card-header">
			<center><h2>Analytik und Leistung</h2></center>

		</div>

	<div class="card-body">
		<blockquote>
			<figure class="wp-block-table">
				<table class="table table-bordered border-primary">
					<tbody>
						<tr>
							<td>
								<strong>
									Plätzchen
								</strong>
							</td>
							<td>
								<strong>
									Zweck
								</strong>
							</td>
						</tr>

						<tr>
							<td>Anzeigen</td>
							<td>
								Verfolgt, ob ein Besucher zuvor auf eine Anzeige geklickt hat.
							</td>
						</tr>

						<tr>
							<td>Anzeigen</td>
							<td>
								Zählt und verfolgt Seitenaufrufe auf Longreads.com. Wird verwendet, um zu bestimmen, ob unsere Mitgliedschafts-Popup-Nachricht angezeigt werden soll oder nicht.
							</td>
						</tr>

						<tr>
							<td>wordpress_eli</td>
							<td>
								Reduziert die Anzeige von Anzeigen für wiederkehrende Besucher.
							</td>
						</tr>

					</tbody>
				</table>
			</figure>

						<p>
							Bitte beachten Sie auch den folgenden Abschnitt zu Anzeigen von Drittanbietern, die Sie möglicherweise auf unseren Websites oder Websites, die unsere Dienste nutzen, sehen.
						</p>

		</blockquote>
	</div>

<!------------------------------->
		<div class="card-header">
			<center><h2>Werbung von Dritten über das Anzeigenprogramm von Automattic</h2></center>

		</div>

		<div class="card-body">
		    <blockquote class="blockquote mb-0">
				<p>Unsere Mission ist es, das Verlagswesen zu demokratisieren. Damit wir mit WordPress.com freien Zugang zum Erstellen einer Website bieten können, schalten wir Anzeigen auf einigen Websites unserer Benutzer. Unsere Nutzer können auch Anzeigen über ihr Anzeigenprogramm auf ihrer Website schalten. Darüber hinaus schalten wir Anzeigen aus unserem Anzeigenprogramm auf einigen unserer eigenen Websites (z. B. longreads.com) und in E-Mails.
				<br><br>
				Wir betreiben unser Anzeigenprogramm in Zusammenarbeit mit Drittanbietern. Im Rahmen unseres Anzeigenprogramms verwenden wir Cookies, um bestimmte Informationen zu sammeln. Mit Werbe-Cookies können wir und unsere Partner Anzeigen schalten und diese Anzeigen basierend auf Informationen wie Besuchen unserer Websites und anderer Websites im Internet personalisieren.
				<br><br>
				Nachfolgend finden Sie eine repräsentative Liste unserer Werbeprogrammpartner sowie Informationen zu den von jedem Partner gesetzten Cookies. Die Partner, mit denen wir zusammenarbeiten, ändern sich von Zeit zu Zeit, und dies ist keine vollständige Liste. Ihre Auswahlmöglichkeiten zur Steuerung von Cookies im Zusammenhang mit unserem Anzeigenprogramm werden nachfolgend beschrieben.</p>

		    </blockquote>
<br><br>
<!---------------------------->

		    <blockquote class="blockquote mb-0">

				<figure class="wp-block-table">
					<table class="table table-bordered border-primary">
						<tbody>
						<tr>
							<td>
								<strong>
									Partner
								</strong>
							</td>
							<td>
								<strong>
									Cookie-Info
								</strong>
							</td>
						</tr>

						<tr>
							<td>33across</td>
							<td>
								https://33across.com/privacy-policy/ und https://optout.33across.com
							</td>
						</tr>


						<tr>
							<td>Admixer</td>
							<td>
								https://admixer.net/privacy
							</td>
						</tr>


						<tr>
							<td>ADYOULIKE</td>
							<td>
								https://www.adyoulike.com/privacy_policy.php
							</td>
						</tr>


						<tr>
							<td>Amazonas</td>
							<td>
								https://www.amazon.co.uk/gp/help/customer/display.html/ref=footer_iba?ie=UTF8&nodeId=201909150
							</td>
						</tr>


						<tr>
							<td>AppNexus</td>
							<td>
								https://www.appnexus.com/de/company/cookie-policy
							</td>
						</tr>


						<tr>
							<td>BidSwitch</td>
							<td>
								http://www.bidswitch.com/cookie-statement/
							</td>
						</tr>


						<tr>
							<td>Criteo</td>
							<td>
								https://www.criteo.com/privacy/
							</td>
						</tr>



						<tr>
							<td>EMX Digital</td>
							<td>
								https://enginemediaexchange.com/privacy/
							</td>
						</tr>



						<tr>
							<td>Google (AdSense, DoubleClick Ad Exchange „AdX“)</td>
							<td>
								https://policies.google.com/technologies/ads
							</td>
						</tr>


						<tr>
							<td>Indexaustausch</td>
							<td>
								https://www.indexexchange.com/privacy/
							</td>
						</tr>


						<tr>
							<td>LKQD</td>
							<td>
								https://www.nexstardigital.com/privacy
							</td>
						</tr>

						<tr>
							<td>Media.net</td>
							<td>
								https://www.media.net/privacy-policy
							</td>
						</tr>

						<tr>
							<td>EID</td>
							<td>
									https://policies.oath.com/us/en/oath/privacy/topics/cookies/index.html
							</td>
						</tr>

						<tr>
							<td>OpenX</td>
							<td>
								https://www.openx.com/legal/privacy-policy/
							</td>
						</tr>


						<tr>
							<td>PowerInBox</td>
							<td>
									https://powerinbox.com/privacy-policy/
							</td>
						</tr>



						<tr>
							<td>Pubmatisch</td>
							<td>
								https://pubmatic.com/legal/website-cookie-policy/
							</td>
						</tr>


						<tr>
							<td>Rubicon</td>
							<td>
								https://rubiconproject.com/privacy/consumer-online-profile-and-opt-out/
							</td>
						</tr>

						<tr>
							<td>Skimlinks</td>
							<td>
								https://skimlinks.com/user-cookies  und  https://skimlinks.com/privacy-policy							</td>
						</tr>


						<tr>
							<td>Sonobi</td>
							<td>
								https://sonobi.com/privacy-policy/
							</td>
						</tr>

						<tr>
							<td>Teads</td>
							<td>
								https://www.teads.tv/privacy-policy/
							</td>
						</tr>


						<tr>
							<td>TripleLift</td>
							<td>
								https://triplelift.com/privacy/
							</td>
						</tr>

					</tbody>
					</table>	
				</figure>		
			</blockquote>

			<p>Unten finden Sie eine repräsentative Liste der Cookies, die von unseren Anzeigenpartnern im Zusammenhang mit Anzeigen in E-Mails gesetzt werden können.</p>

		</div>

<!------------------------------->

	<div class="card-body">
		    <blockquote class="blockquote mb-0">

				<figure class="wp-block-table">
					<table class="table table-bordered border-primary">
						<tbody>
						<tr>
							<td>
								<strong>
									Plätzchen
								</strong>
							</td>
							<td>
								<strong>
									Plätzchen
								</strong>
							</td>
						</tr>

						<tr>
							<td>pi-userid</td>
							<td>
									Wird zum Personalisieren von E-Mail-basierten Anzeigen verwendet.
							</td>
						</tr>

						<tr>
							<td>eid_</td>
							<td>
								Wird in E-Mail-basierten Anzeigen verwendet, um zu verfolgen, ob ein Besucher auf eine Anzeige geklickt hat, und um Werbetreibenden zu berichten, wie sich ihre Anzeigen entwickelt haben.
							</td>
						</tr>


					</tbody>
					</table>	
				</figure>		
			</blockquote>
	</div>

<!------------------------------------>

		<div class="card-header">
			<center><h2>Besucher von Websites mit installiertem Jetpack</h2></center>

		</div>

		<div class="card-body">
		<blockquote>
			<p>Unten finden Sie Beispiele für Cookies, die für Besucher von Websites mit installiertem Jetpack-Plugin gesetzt wurden. Weitere Informationen zu den für Administratoren gesetzten Cookies finden Sie unter  https://jetpack.com/support/cookies/ .</p>
		</blockquote>
		</div>


<!------------------------------------>

		<div class="card-header">
			<center><h2>Jetpack Kommentare</h2></center>

		</div>

	<div class="card-body">
		    <blockquote class="blockquote mb-0">

				<figure class="wp-block-table">
					<table class="table table-bordered border-primary">
						<tbody>
						<tr>
							<td>
								<strong>
									Cookie-Name
								</strong>
							</td>
							<td>
								<strong>
									Zweck
								</strong>
							</td>
						</tr>

						<tr>
							<td>comment_author_ {HASH}</td>
							<td>
								Erinnert sich den Wert in die eingegebenen Kommentar ‚s Name Feld. Spezifisch für die Site, von der aus es festgelegt wird. Dieses Cookie spiegelt ein Cookie wider, das von der WordPress-Kernsoftware zu Kommentierungszwecken festgelegt wurde .
							</td>
						</tr>

						<tr>
							<td>comment_author_email_ {HASH}</td>
							<td>
								Erinnert sich den Wert in die eingegebenen Kommentar ‚s E – Mail – Feld. Spezifisch für die Site, von der aus es festgelegt wird. Dieses Cookie spiegelt ein Cookie wider, das von der WordPress-Kernsoftware zu Kommentierungszwecken festgelegt wurde .
							</td>
						</tr>

						<tr>
							<td>comment_author_url_ {HASH}</td>
							<td>
								Erinnert sich den Wert in die eingegebene Kommentar ‚s URL – Feld. Spezifisch für die Site, von der aus es festgelegt wird. Dieses Cookie spiegelt ein Cookie wider, das von der WordPress-Kernsoftware zu Kommentierungszwecken festgelegt wurde
							</td>
						</tr>


					</tbody>
					</table>	
				</figure>		
			</blockquote>
	</div>

<!----------------------------------->


		<div class="card-header">
			<center><h2>Mobiles Thema</h2></center>

		</div>

	<div class="card-body">
		    <blockquote class="blockquote mb-0">

				<figure class="wp-block-table">
					<table class="table table-bordered border-primary">
						<tbody>
						<tr>
							<td>
								<strong>
									Cookie-Name
								</strong>
							</td>
							<td>
								<strong>
									Zweck
								</strong>
							</td>
						</tr>

						<tr>
							<td>akm_mobile</td>
							<td>
								Erinnert sich, ob ein Benutzer die mobile Version einer Site anzeigen möchte oder nicht .
							</td>
						</tr>


					</tbody>
					</table>	
				</figure>		
			</blockquote>
	</div>


<!------------------------------------>

		<div class="card-header">
			<center><h2>Abonnements</h2></center>

		</div>

	<div class="card-body">
		    <blockquote class="blockquote mb-0">

				<figure class="wp-block-table">
					<table class="table table-bordered border-primary">
						<tbody>
						<tr>
							<td>
								<strong>
									Cookie-Name
								</strong>
							</td>
							<td>
								<strong>
									Zweck
								</strong>
							</td>
						</tr>

						<tr>
							<td>jetpack_comments_subscribe_ {HASH}</td>
							<td>
								Erinnert sich an den Status der Kontrollkästchen für das Abonnement von Posts und Kommentaren .
							</td>
						</tr>

						<tr>
							<td>jetpack_blog_subscribe_ {HASH}</td>
							<td>
								Erinnert sich an den Status der Kontrollkästchen für das Abonnement von Posts und Kommentaren .
							</td>
						</tr>


					</tbody>
					</table>	
				</figure>		
			</blockquote>
	</div>

<!----------------------------------->

		<div class="card-header">
			<center><h2>EU Cookie Law Banner</h2></center>

		</div>

	<div class="card-body">
		    <blockquote class="blockquote mb-0">

				<figure class="wp-block-table">
					<table class="table table-bordered border-primary">
						<tbody>
						<tr>
							<td>
								<strong>
									Cookie-Name
								</strong>
							</td>
							<td>
								<strong>
									Zweck
								</strong>
							</td>
						</tr>

						<tr>
							<td>eucookielaw</td>
							<td>
								Erinnert sich an den Stand der Akzeptanz der Besucher für das Banner des EU-Cookie-Gesetzes 
							</td>
						</tr>

					</tbody>
					</table>	
				</figure>		
			</blockquote>

				<p>Bitte beachten Sie, dass dieser Abschnitt nicht erschöpfend, sondern repräsentativ sein soll und dass unsere Benutzer abhängig von den von ihnen ausgewählten Funktionen oder den von ihnen installierten Plugins möglicherweise zusätzliche Cookies setzen (z. B. Google Analytics).</p>


	</div>

<!------------------------------------>

		<div class="card-header">
			<center><h2>Cookies steuern</h2></center>

		</div>

		<div class="card-body">
		    <blockquote class="blockquote mb-0">
				<p>Besucher möchten möglicherweise die Verwendung von Cookies einschränken oder deren Setzen vollständig verhindern. Die meisten Browser bieten Möglichkeiten zur Steuerung des Cookie-Verhaltens, z. B. der Speicherdauer – entweder mithilfe der integrierten Funktionalität oder mithilfe von Plugins von Drittanbietern. Wenn Sie Cookies deaktivieren, beachten Sie bitte, dass einige der Funktionen unseres Dienstes möglicherweise nicht ordnungsgemäß funktionieren.
				<br><br>
				Weitere Informationen zum Verwalten und Löschen von Cookies finden Sie unter aboutcookies.org. Weitere Informationen zu Ihren Auswahlmöglichkeiten hinsichtlich der Verwendung Ihrer Webbrowsing-Aktivitäten für interessenbezogene Werbung finden Sie auf den folgenden Websites:
				<br><br>
				<ul>
				<a href="http://networkadvertising.org"><li>networkadvertising.org</li></a>
				<a href="https://optout.aboutads.info/?c=2&lang=EN"><li>optout.aboutads.info </li></a>
				<a href="https://youradchoices.com"><li>youradchoices.com</li></a>
				<a href="https://youronlinechoices.eu"><li>youronlinechoices.eu</li></a>
				</ul>
				Auf einem mobilen Gerät müssen Sie möglicherweise auch Ihre Einstellungen anpassen, um die Nachverfolgung einzuschränken.  
				<br><br>
				Einige von uns verwendete Analysedienste, die ihre eigenen Cookies oder Web-Tags in Ihrem Browser platzieren, bieten ihre eigenen Opt-out-Optionen an. Sie können beispielsweise Google Analytics deaktivieren, indem Sie das Opt-out-Browser-Add-on von Google installieren , Hotjar mithilfe des Headers „Nicht verfolgen“ und Nielsen, indem Sie auf den in der Datenschutzerklärung von Nielsen enthaltenen Link zum Deaktivieren klicken .
				<br><br>
				Unser internes Analysetool</p>

		    </blockquote>
<br><br>
<!----------------------------------->

		<div class="card-header">
			<center><h2>Unser internes Analysetool</h2></center>

		</div>

		<div class="card-body">
		    <blockquote class="blockquote mb-0">
				<p>Um besser zu verstehen, wie unsere Dienste verwendet werden, überwachen wir bestimmte Benutzeraktivitäten, die in unseren Produkten stattfinden, einschließlich Seitenaufrufen und Klicks auf Links, die beim Verwalten einer Website über unsere Dashboards verwendet werden.
<br><br>
Wir nennen jede dieser Aktionen ein „Ereignis“. Analytics-Ereignisse werden an Ihr WordPress.com-Konto angehängt und über ein Erstanbieter-System verarbeitet, das Automattic besitzt und verwaltet. Im Allgemeinen zeichnen wir die folgenden Daten für jedes Ereignis auf: IP-Adresse, WordPress.com-Benutzer-ID und Benutzername, mit WordPress.com verbundene Site-ID (für Sites, die nicht auf WordPress.com gehostet werden), Benutzeragent, verweisende URL, Zeitstempel des Ereignisses , Browsersprache und Ländercode.
<br><br>
Wir verwenden diese Informationen, um unsere Produkte zu verbessern, unser Marketing für Sie relevanter zu machen, Ihre Erfahrung zu personalisieren und für die anderen in unserer Datenschutzrichtlinie beschriebenen Zwecke .
<br><br>
Sie können unser Analyseprogramm über Ihre Benutzereinstellungen deaktivieren. Auf diese Weise geben Sie keine Informationen über Ereignisse oder Aktionen nach dem Deaktivieren an unser Analysetool weiter, während Sie in Ihrem WordPress.com-Konto angemeldet sind. Beachten Sie, dass das Deaktivieren die Funktionalität der von uns verfolgten Aktionen nicht deaktiviert. Wenn Sie beispielsweise einen Beitrag veröffentlichen, wird dies weiterhin aufgezeichnet (keine Sorge!), Aber für ein Ereignis oder eine Aktion nach dem Deaktivieren. Wir haben keine anderen Daten im Zusammenhang mit dieser Aktion oder diesem Ereignis im Analysetool.
<br><br>
Für unsere Simplenote-Benutzer: Wir verwenden unser Erstanbieter-Analysetool in Simplenote, um die Verwendung von Simplenote besser zu verstehen und die App für unsere Benutzer zu verbessern. Sie können sich über Ihre Datenschutzeinstellungen in der App abmelden. Auf diese Weise geben Sie keine Informationen über Ereignisse oder Aktionen nach dem Opt-out an unser Analysetool weiter. Eine weitere Sache: Für Simplenote-Benutzer, die sich mit ihrem WordPress.com-Login bei Simplenote anmelden, müssen Sie sich auch für die Simplenote-App abmelden, nicht für Ihre Datenschutzeinstellungen für das WP.COM-Konto.</p>

		    </blockquote>



<!----------------------------------->

		<div class="card-header">
			<center><h2>Zustimmung und Auswahlmöglichkeiten für Anzeigen auf den Websites unserer Nutzer über unser Anzeigenprogramm</h2></center>

		</div>

		<div class="card-body">
		    <blockquote class="blockquote mb-0">
				<p>Auf den Websites unserer Benutzer wird möglicherweise ein „Cookie-Banner“ angezeigt, insbesondere wenn Sie sich in der Europäischen Union befinden. In diesem Fall setzt unser Anzeigenprogramm keine Cookies, die unseren Anzeigenpartnern das Setzen von Cookies ermöglichen, mit denen Sie gezielte Anzeigen schalten, bevor Sie diese annehmen.
<br><br>
Wenn Sie auf diese Weise zustimmen, können wir und unsere Werbepartner Werbe-Cookies von Drittanbietern setzen, um Ihnen personalisierte Anzeigen auf der Website, die Sie besuchen, und, wenn Sie eine Website im WordPress.com-Netzwerk besuchen, auf allen Websites innerhalb der Website zu schalten dieses Netzwerk von Websites. Sie wissen, dass sich eine Site im WordPress.com-Netzwerk befindet, da sie eine WordPress.com-Subdomain enthält (z. B. example.wordpress.com). Für andere Websites, die an unserem Anzeigenprogramm teilnehmen, gilt Ihre Zustimmung nur für personalisierte Anzeigen auf der bestimmten Website, die Sie besuchen.
<br><br>
Für Besucher von Websites im WordPress.com-Netzwerk :
<br><br>
Sie können Ihre Datenschutzoptionen für Werbe-Cookies von Drittanbietern für Websites im WordPress.com-Netzwerk verwalten, indem Sie im Banner auf „Weitere Informationen“ klicken. Daraufhin wird unsere Einwilligungsverwaltungsplattform (CMP) angezeigt. Sie können Ihre Einstellungen für Websites im WordPress.com-Netzwerk auch jederzeit anpassen, indem Sie auf den Link „Datenschutz“ klicken, der unter jeder Anzeige angezeigt wird.
<br><br>
Im März 2021 haben wir im Rahmen unseres Übergangs zum europäischen Transparenz- und Zustimmungsrahmen des Interactive Advertising Bureau (IAB) mit der Einführung eines neuen CMP für einige unserer Benutzer begonnen, an dem wir sowohl als CMP-Anbieter als auch als Anbieter (Rahmen) teilnehmen werden Identifikationsnummer 496). Unser neues CMP entspricht den Spezifikationen und Richtlinien des Frameworks und berücksichtigt die Entscheidungen, die Sie mit den Tools des IAB treffen. Innerhalb des CMP listen wir als Partner alle Anbieter auf, die am IAB-Framework teilnehmen. Wir arbeiten nicht mit all diesen Anbietern zusammen, aber unsere oben aufgeführten Anzeigenpartner könnten dies tun. Wir möchten, dass Sie die Möglichkeit haben, sie zu deaktivieren. (Aus diesem Grund ist die Liste in unserem CMP auch länger als erwartet!).
<br><br>
Andere Möglichkeiten:
<br><br>
Wir setzen auch ein Cookie, um zu verstehen, wie Besucher mit Websites interagieren, die an unserem Anzeigenprogramm teilnehmen. Besucher können die Verwendung dieser Informationen durch den Besuch dieses Links ablehnen (die Abmeldung wird sofort ohne Bestätigungsschritt verarbeitet). Wenn Sie sich abmelden, ersetzen wir den eindeutigen Wert für dieses Cookie durch einen Abmeldewert . Das Opt-out funktioniert auf allen Websites in unserem Anzeigenprogramm. Wenn Sie sich versehentlich abgemeldet haben oder sich wieder anmelden möchten, können Sie dies über diesen Link tun . Bitte beachten Sie, dass diese Option browserspezifisch ist. Wenn Sie also ein anderes Gerät oder einen anderen Browser verwenden oder Ihre Cookies löschen, müssen Sie den Vorgang wiederholen.

</p>

		    </blockquote>


<!------------------------------------>

		<div class="card-header">
			<center><h2><!------------------------------------>

		<div class="card-header">
			<center><h2>Kontaktiere uns</h2></center>

		</div>


		<div class="card-body">
			<h4><p>Wenn Sie Fragen zu unserer Verwendung von Cookies haben, finden Sie die wichtigsten Kontaktdaten in unserer Datenschutzrichtlinie .</p></h4>
		</div>



<!--------------- END ---------------->







	</div>

	</div>

<br>


</div>

{% endblock content %}

















