{% extends 'base.html' %}
{% load static %}


{% block content %}

<style type="text/css">
	
.image {
	width: 100%;
}

</style>

<div class="container" style="margin-top: 50px;">
	<div class="card">
		<div class="card-header">
		    <h1>
		    	<small>
					<img class="logo_mitmachen" src="{% static 'mksd/images/LOGO.jpeg' %}" width="150px">
				</small>

				IMPRESSUM
			</h1>

		</div>

		<div class="card-header">
			<center><h4>Cultural event with MKSD: MUSIKABEND by MUSIKPROJECT MADAGASKAR</h4></center>

		</div>

		<div class="card-body">
		    <blockquote class="blockquote mb-0">
				Save the date and be ready because it is going to be lit! The first edition of the MUSIKABEND by Musikproject Madagaskar is taking place in Bremen on 28th May 2022 with the participation of some of the most talented Malagasy singers and artist in Germany. Lead by the public figure Chef Rija, the squad includes Fredda, Tiji, Mirindra and Valerie. All known for their amazing voice and talent for singing. Particularly, Fredda and Tiji where famous through the Tv show PAZZAPA few years ago.
				<br><br>
				We, MKSD, support the initiative as promoting Culture is one of our main essence.
				<br><br>
				So we invite all of you to join and support this event with us!
				<br><br>		
				Sei Dabei!
				<br><br>
				<img class="image" src="{% static 'mksd/images/bremen.webp' %}">

		    </blockquote>
		</div>
	</div>
</div>


<div class="container" style="margin-top: 50px;">
	<div class="card">
		<div class="card-header">
			<center><h2>Partnerschaft MKSD e.V. mit „Projekt Mibaliaka“ by MWR Verein in Madagaskar 2022</h2></center>

		</div>



		<div class="card-body">
		    <blockquote class="blockquote mb-0">

		    <img class="image" src="{% static 'mksd/images/mibaliaka.jpg' %}">
		    	<br><br>
				„Bildung ist eine mächtige Waffe, um Mentalitäten zu verändern und Unterschiede zu überwinden, und Sport ist eine Quelle der Inspiration, der Selbstüberwindung, der Toleranz und der Erziehung des Respekts für junge Menschen. Diese beiden Elemente tragen zur Schaffung einer gerechteren und brüderlicheren Gesellschaft bei. » 👦👧
				<br><br>
Dieses Jahr , wurde eine Partnerschaft von MKSD e.V. in Deutschland erfolgreich abgeschlossen, die ausgewählten Jugendlichen in Madagaskar Sportartikel wie Basketball, Fußball sowie Sportkleidung für das “ Projekt Mibaliaka “ zur Verfügung stellt, die von der MWR Association unterstützt werden. Dies gilt insbesondere für die Unterstützung junger Menschen und Kinder , die Träume haben, um ihre Visionen zu verwirklichen. 🇩🇪 🇲🇬
				<br><br>
Na aty antany lavitra ary izahay tanora Malagasy aty Allemana , ny fikambanana MKSD e.V. dia tsy manadino ireo mpiray tanindrazana any Madagasikara. Tamin’ny volana Febroary 2022, dia tontosa soa aman-tsara ny fiaraha-miasa niaraka tamin´ny “ vondrona Mibaliaka“ any Madagasikara, tamin’ny fanomezana fitaovam-panatanjahantena ireo tanora voafantina tamin´ny tetikasa izay tohanany MWR-Association. Natao indrindra izany mba hanohanana ireo tanora sy zandry manana nofinofy hanatanteraka ireo vinany. Ny anjara biriky ny MKSD e.V. teto ny fanohanana azy ireo, ankoatrany fanabeazana ara-batana izay azon´izy ireo any an-tsekoly, dia nizara ireto fitaovana manaraka ny fikambanana ireto: ahitana baolina roa (baolina kitra sy basikety), lobaka lalao basikety 15 sy lobaka fanazaran-tena 12, lobaka lalao baolina kitra 15 ary lobaka fanofanana 15 hafa, ary t-shirt 30.
				<br><br>
🌱Alefa Madagasikara 🇲🇬 🇩🇪
				<br><br>
				

		    </blockquote>
		</div>
	</div>
</div>


{% endblock %}









