asgiref==3.5.2
comtypes==1.1.14
distlib==0.3.6
dj-database-url==1.0.0
Django==4.1.2
django-background-task==0.1.8
django-ckeditor==6.5.1
django-extensions==3.2.1
django-gunicorn==0.1.1
django-heroku==0.3.1
django-js-asset==2.0.0
filelock==3.8.0
gunicorn==20.1.0
Pillow==9.3.0
platformdirs==2.5.2
psycopg2==2.9.4
pypiwin32==223
python-decouple==3.6
pyttsx3==2.90
pywin32==305
sqlparse==0.4.3
tzdata==2022.5
virtualenv==20.16.5
whitenoise==6.2.0
