{% extends 'base.html' %}
{% load static %}


{% block title %}
	User profile
{% endblock title %}

{% block content %}

<h1>Profile d'utilisateur.</h1>




<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-2">

	    <a href="{% url 'home' %}" class="btn btn-secondary">Retour</a>
	    
    	{% if page_user.profile_pic %}
    	  <img src="{{ page_user.profile_pic.url }}" class="img-fluid rounded-start" alt="Profile_pic">
    	{% else %}
    	  <img src="{% static 'mksd/images/profile_pic.png' %}" class="img-fluid rounded-start" alt="Profile_pic">
      {% endif %}

	    </div>

	    <div class="col-md-10">
	      <div class="card-body">

	        <h5 class="card-title">
	        	{{ page_user.user.first_name }} 
						{{ page_user.user.last_name }}
						<br>
						<small>

						</small>
					</h5>

				{% if page_user.website_url %}
					<a href="{{ page_user.website_url }}">Website |</a>
				{% endif %}

				{% if page_user.facebook_url %}
					<a href="{{ page_user.facebook_url }}">Facebook |</a>
				{% endif %}

				{% if page_user.instagram_url %}
					<a href="{{ page_user.instagram_url }}">Instagram</a>
				{% endif %}
			</p>
	        <p class="card-text">{{ page_user.biographie }}</p>

      </div>
    </div>
  </div>

  

{% endblock content %}

