{% extends 'base.html' %}
{% block title %}  New Post  {% endblock %}

{% block content %}

{% if user.is_authenticated %}

	<h1>Add Post</h1>

	<small>Raha manisy sary ao anaty Body enao dia <br> ataovy max height="650" dia ny width="433". </small>
	<br>
	<style type="text/css">
		
		.container {
			width: 500px;
		}

	</style>


	<div class="container">
		<div class="form-group">
			<form method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				{{ form.as_p }}
				{{ form.media }}
				<button class="btn btn-primary">Post</button>
				<a href="{% url 'home' %}" class="btn btn-secondary">Cancel</a>
			</form>
		</div>
	</div>

	<script type="text/javascript">
		var name = "{{ user.id }}"
		document.getElementById("Ihany").value = name;


	</script>



{% endif %}

{% endblock %}