{% extends 'base.html' %}
{% load static %}
{% block title %}  {{ post.title }}  {% endblock title %}

{% block content %}


<style type="text/css">

.container {
    display: grid;
    height: 300vh;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1.2fr 8fr 2fr 1.2fr 1.2fr 1.2fr 12fr 10fr 10fr; 
    grid-template-areas: 
        "content0 content0 content0 content0 content0 content0"
        "main main main main main main"
        "main main main main main main"
        "main main main main main main"
        "main main main main main main"
        "main main main main main main"
        "content1 content1  content1 content1 content1 content1"
        "content2 content2 content3 content3 content4 content4"
        "content5 content5 content5 content5 content5 content5"
        "content6 content6 content6 content6 content6 content6";

    grid-gap: 0.2rem;
    font-family: "inter", sans-serif;
    font-weight: 800;
    font-size: 15px;
    color: #004d40;
    text-align: center;
}

#content0 {
    background-color: #6fffd2;
    grid-area: content0;
}


main {
    background-color: #a7ffeb;
    grid-area: main;
}


#content1 {
    background-color: #ffffff;
    grid-area: content1;
}

#content2 {
    background-color: #18ffff;
    grid-area: content2;
}

#content3 {
    background-color: #6fffd2;
    grid-area: content3;
}

#content4 {
    background-color: #18ffff;
    grid-area: content4;
}

#content5 {
    background-color: #6fffd2;
    grid-area: content5;
}

#content6 {
    background-color: #18ffff;
    grid-area: content6;
}




@media only screen and (max-width: 850px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 4.2fr 0.8fr 2.4fr  2.4fr 2.4fr 2.4fr 2.4fr;
        grid-template-areas: 
        "content0"
        "main"
        "content1"
        "content2"
        "content3"
        "content4"
        "content5"
        "content6"

    }
}



</style>

<!-------------------------- MAIN CONTAINER ----------------------->
<br>
<div class="container">
    <div id="content0">Content0</div>
    <main>Main</main>
    <div id="content1">Content1</div>
    <div id="content2">Content2</div>
    <div id="content3">Content3</div>
    <div id="content4">Content4</div>
    <div id="content5">Content5</div>
    <div id="content6">Content6</div>
</div>


{% endblock %}
