<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">  <title>MKSD</title>
</head>

<body>

<style type="text/css">
  .main-2 {
    width: 100%;
    z-index: 1;
  }


</style>



        <div class="main-2">  

          <section class="footer">
            <div class="container_footer">
              <small>
                <p>MKSD | Malagasy Mifandray | </p>
                <p>
                 

                  <!-- Facebook -->
                  <a class="btn btn-primary" style="background-color: #3b5998;" href="https://www.facebook.com/fihaonambe.MKSD/" 
                  role="button" target="_blank"><i class="fab fa-facebook-f">Facebook</i></a> - 

                  
                  <!-- Instagram -->
                 <a class="btn btn-primary" style="background-color: #ac2bac;" href="https://www.instagram.com/mksd_seidabei/" role="button" target="_blank">
                  <i class="fab fa-instagram">Instagram</i></a>

                <!-- Telefon -->
                  Tél: <span itemprop="telephone">
                      <a href="tel:004915231726565">
                          004915231726565 
                      </a>
                  </span> - 

                  <!-- Google -->
                  <a style="color: #dd4b39;" href="mailto:kontakt.mksd@gmail.com" target="_blank" role="button">
                    <i class="fab fa-google fa-lg">@Gmail</i></a>
                  


                </p>
              </small>
            </div>
          </section>

        </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>





















