{% extends 'base.html' %}
{% load static %}


{% block content %}
<style type="text/css">

.container_index {
    background-image: url("images/background-image.webp");
    display: grid;
    height: 300vh;
    grid-template-columns: 0.3fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1.2fr 8fr 2fr 1.2fr 1.2fr 1.2fr 12fr 10fr 10fr 10fr; 
    grid-template-areas: 
        "sidebar main main main main main main"
        "sidebar main main main main main main"
        "sidebar main main main main main main"
        "sidebar main main main main main main"
        "sidebar main main main main main main"
        "sidebar  content1 content1  content1 content1 content1 content1"
        "sidebar content2 content2 content3 content3 content4 content4"
        "sidebar  content5 content5 content5 content5 content5 content5"
        "sidebar  content6 content6 content6 content6 content6 content6"
        "sidebar  content7 content7 content7 content7 content7 content7";

    grid-gap: 0.2rem;
    font-family: "inter", sans-serif;
    font-weight: 800;
    font-size: 15px;
    color: #004d40;
    text-align: center;
}



main {
    grid-area: main;
    background-image: url("images/logo.jpeg");
}

h1 {
    color: orangered;
    font-weight: bolt;
    font: italic 1.2em "Fira Sans", serif;
    font-size: 95px;
    font-weight: 15px;
}

h3 {
    color: blueviolet;
    font-weight: bolt;
    font: italic 1.2em "Fira Sans", serif;
    font-size: 55px;
}

#sidebar {
    background-color: #333333;
    grid-area: sidebar;
}

#content1 {
    background-color: #333333;
    grid-area: content1;
    border-radius: 85px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#content2 {
    background-color: #777;
    color: #fff;
    opacity: 0.;
    grid-area: content2;
    border-radius: 15px;

}

iframe {
    width: 100%;
    height: 100%;
}

.item {
    background-color: #fff;
    justify-content: center;
    margin-left: 15px;
    width: 95%;
    height: 94%;
    justify-content: center;
}

#content3 {
    color: #fff;
    background-color: #777;
    grid-area: content3;
    border-radius: 15px;

}

#content4 {
    color: #fff;
    background-color: #777;
    grid-area: content4;
    border-radius: 15px;

}

#content5 {
    font: italic 1.2em "Fira Sans", serif;
    color: #fff;
    background-color: #555;
    grid-area: content5;
    border-radius: 125px;
    margin: 35px 75px;
    padding: 55px;
    -webkit-box-shadow: 5px 7px 5px 1px #f3f3f3; 
    box-shadow: 5px 7px 5px 1px #fffffff;


}

#content6 {
    font: italic 1.2em "Fira Sans", serif;
    color: #fff;
    background-color: #555;
    grid-area: content6;
    border-radius: 125px;
    margin: 35px 75px;
    padding: 55px;
    -webkit-box-shadow: 5px 7px 5px 1px #CC2200; 
    box-shadow: 5px 7px 5px 1px #fffffff;


}

#content7 {
    font: italic 1.2em "Fira Sans", serif;
    color: #fff;
    background-color: #555;
    grid-area: content7;
    border-radius: 125px;
    margin: 35px 75px;
    padding: 55px;
    -webkit-box-shadow: 5px 7px 5px 1px #158000; 
    box-shadow: 5px 7px 5px 1px #fffffff;
}




@media only screen and (max-width: 850px) {
    .container_index {
        height: 300vh;
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 4.8fr 0.4fr 2.4fr 2.4fr  2.4fr 2.4fr 2.4fr 2.4fr;
        grid-template-areas: 
        "sidebar"
        "main"
        "content1"
        "content2"
        "content3"
        "content4"
        "content5"
        "content6"
        "content7"

    }

    .item {
        height: 90%;
        background-size: cover;
    }

    a {
        color: #fff;
    }



}

</style>


<!-- HEADER -->

<div class="container_index">
    <!----------------------------- SLIDE IMAGES ---------------------------->
    <main>
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExamoleCaptions" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExamoleCaptions" data-slide-to="1"></li>
                <li data-target="#carouselExamoleCaptions" data-slide-to="2"></li>
            </ol>

            <div class="carousel-inner">
                {% for post in post %}
                <a style="color: #fff; text-decoration: none;" href="{% url 'article-detail' post.pk %}">
                    <div class="carousel-item {% if forloop.counter0 == 0 %} active {% endif %} ">
                        <img src="{{ post.header_image.url }}" style="height: 675px;" class="img-fluid d-block w-100" alt="foto">
                        <div class="carousel-caption d-none d-md-block">
                            <h1 class="animate__animated
                                {% if forloop.counter0 == 0 %}
                                animate__fadeInDown
                                {% endif %}

                                {% if forloop.counter == 1 %}
                                animate__slideInDown
                                {% endif %}

                                {% if forloop.counter == 2 %}
                                animate__zoomIn
                                {% endif %}"

                                style="font-size: 150px;"
                                >
                                    {{ post.title }} 
                            </h1>

                            <h3>{{ post.snippet }}</h3>
                            <button class="btn btn-secondary"><a style="color: #fff; text-decoration: none;" href="{% url 'article-detail' post.pk %}">Détail</a></button>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </main>


    <div id="sidebar"></div>
    <div id="content1">
        <!-- Facebook -->
        <i class="fab fa-facebook-f fa-2x" style="color: #fff;"></i>
    </div>

    <div id="content2">Neuigkeiten
        <div class="item">
            {% for neu in neu|slice:1 %}

                {% if neu.image %}
                    <a href="{% url 'neuigkeit_detail' neu.pk %}"><img src="{{ neu.image.url }}" style="width: 100%; height: 100%;"></a>
                {% endif %}

                {% if neu.file %}
                    <iframe src="{{ neu.file.url }}" style="width: 100%; height: 100%;"></iframe>
                
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div id="content3">MKSD Live
        <div class="item">
            {% for live in live|slice:1 %}
                {% if live.image %}
                    <a href="{% url 'live_detail' live.pk %}"><img src="{{ live.image.url }}" style="width: 100%; height: 100%;"></a>

                {% endif %}

                {% if liv.file %}
                    <iframe src="{{ live.file.url }}" style="width: 100%; height: 100%;"></iframe>
                
                {% endif %}

                {% if liv.video %}
                    <video src="{{ live.video.url }}" style="width: 100%; height: 100%;" controls></video>
                
                {% endif %}

            {% endfor %}
        </div>
    </div>
    <div id="content4">SEI DABEI
        <div class="item">
            {% for mit in sei|slice:1 %}
                {% if mit.image %}
                    <a href="{% url 'mit_detail' mit.pk %}"><img src="{{ mit.image.url }}" style="width: 100%; height: 100%;"></a>
                {% endif %}

                {% if mit.file %}
                    <iframe src="{{ mit.file.url }}" style="width: 100%; height: 100%;"></iframe>
                {% endif %}
            {% endfor %}
        </div>
    </div>

    <div id="content5">MITMACHEN
        <br><br>
        <h1>Wir suchen dich! Mach mit und Sei Dabei.</h1>
        <br>
        <p>Wir sind mit seinem ca. 50 Mitfliedern und diese wird rein ehrenamtlich geführt. <br>
            Diese Bedeutet, dass wir immer Menschen brauchen, die sich aktiv in das Vereinsleben einbringen und in den unterschiedlichen Formen helfen. <br>
            Du bist bei uns Willkommen, wenn du gerne das Zusammenarbeiten mit Madagassen magst und wenn, du ehrenamtliche Arbeit oder sozialen Engagement suchst. 
            <br><br><a style="color: #fff; text-decoration: none;" href="{% url 'mitmachen' %}">Melde dich hier.</a></p>
    </div>



    <div id="content6">UNTERSTÜTZEN <br><br>

        <p>
            Als Madagasse kennen wir schon das Leiden unserer Landsleute. <br>
            Eines unserer Ziel ist es daher, ihnen so gut wie möglich helfen zu können. <br>
             Daher sameln wir Spenden aus der ganzen Welt und nehmen alle Hilfe, die zu uns kommen. 
            <br><br> Für mehr Detail können Sie zu uns schreiben.      Oder einfach hier Spende geben <a rel="" href="{% url 'mitmachen %}" >beim Mitmachen </a>
        </p>

        <button class="btn btn-primary"><a style="color: #fff; text-decoration: none;" href="{% url 'unterstutzen' %}">Detail</a></button>

    </div>


    <div id="content7">Über uns
        <br><br><br>
        <p>
        „Izay mitambatra vato, izay misaraka fasika“
        <br><br>
        „Wer sich zusammenhält, ist wie der Stein; wer sich trennt, ist wie der Sand“
        <br><br>
        Rivo . MKSD-Vorstandsmitglieder – ohabolana Malagasy
        </p>
        <br><br>
        <button class="btn btn-primary"><a style="color: #fff; text-decoration: none;" href="{% url 'uber_uns' %}">Detail</a></button>
    </div>
</div>


{% endblock content %}
