{% extends 'base.html' %}
{% load static %}
{% block title %}  {{ neuigkeit.title }}  {% endblock title %}

{% block content %}

<div class="container">
		<br>
	<h2>Description de l'annonce...</h2>
		<br>


		<div class="card mb-3" style="max-width: 1540px;">
		  <div class="row g-0">
		    <div class="col-md-6">
		    {% if neuigkeit.image %}
		      <img src="{{ neuigkeit.image.url }}" class="img-fluid rounded-start", style="width: 850px; max-height:950px;" alt="...">
		    {% endif %}
		    </div>
		    <div class="col-md-6">
		      <div class="card-body">
		        <h1 class="card-title">{{ neuigkeit.title }}</h1>
		        <br>
		        <p class="card-text">{{ neuigkeit.body }}</p>

		        <p class="card-text"><small class="text-body-secondary">{{ neuigkeit.neu_date }}</small></p>
		      </div>
		    </div>
		  </div>
		</div>
<button class="btn btn-secondary"><a href="{% url 'neuigkeit_list' %}">Neus Liste</a></button>
</div>



{% endblock content %}
