{% extends 'base.html' %}
{% load static %}

{% block title %}
	ÜBER UNS
{% endblock title %}

{% block content %}

<style type="text/css">
	
	.logo {
		width: 150px;
	}

	.aligncenter {
		float: left;
		text-align: center;
	}


</style>

<br><br><br><br>


<div class="container">
	


		<div class="card">
		  <div class="card-header">
		    <h1>
		    	<small>
					<img class="logo_mitmachen" src="{% static 'images/LOGO.jpeg' %}" width="150px">
				</small>

				ÜBER UNS
			</h1>

		  </div>
		  <div class="card-body">
		    <blockquote class="blockquote mb-0">
	
        <p class="card-text">			<h5>
				Wir sind madagassische Gemeinden in Deutschland, die Verbundenheit zwischen alle Madagassen in Deutschland sowie in Europa als oberste Ziel haben eine Sportvereinbarung wurde. 
			</h5></p>

<br>
			<p>Madagassisches Kultur- und Sporttreffen, die in Deutschland stattfindet oder MKSD ist eine nicht politische, nicht lukrative und nicht religiöse Vereinigung der madagassischen Diaspora in Deutschland. Die Mitglieder stehen aus Studierende, Arbeitnehmer, Frauen oder Männer, die ihren Hauptsitz in Deutschland haben.
			</p>

			<p>Verstärkung der Verbundenheit zwischen Madagassen und der Inklusion von Madagassen in Europa:</p>

			<ul>
				<li>
					durch das Organisieren von kulturellen und sportlichen Veranstaltungen
				</li>
				<li>
					durch Förderung des Sports und Kultur von Madagassen, die in Deutschland wohnen
				</li>
				<li>
					durch die Verbreitung von Informationen über Sprachaustauschprogramm
				</li>
				<li>
					soziale Integrationsleistung und interkulturelle Öffnung von MKSD für die Mitglieder
				</li>
				<li>
					ehrenamtliches Engagement von MKSD-Mitglieder
				</li>
				<li>
					gemeinsame Aktionen zur Unterstützung von Hilfsbedürftigen in Madagaskar
				</li>
				<li>
					regelmäßiges Sporttraining in München
				</li>
			</ul>

			<p>
				Hast du noch mehr Fragen? PN uns bitte direkt auf unsere Facebook Seite oder zusätzliche uns eine E-Mail 
				<a itemprop="email" href="mailto:kontakt.mksd@gmail.com" target="__blank>hier.
				</a>
					Über unsere Datenschutzerklärung findest du <a href="{% url 'about' %}">hier.</a>
			</p>
			<hr>
			<p>
				Ny MKSD na fihaonana ara-kolontsaina sy ara-panatanjahantena Malagasy izay atao eto Alemana  dia fikambanana tsy ara-politika, tsy mitady tombony ary tsy ara-mpivavahana iarahan´ny diaspora malagasy eto Alemana mikarakara. Ny mpikambana dia misy mpianatra, mpiasa, ary tanora zokiny sy tanora zandriny.
			</p>
			<p>
				Anisan´ny tanjona ny fikambanana ihany koa ny Fanamafisana ny fifamatorana eo amin&#8217;ny samy Malagasy sy ny fihavananan´ireo Malagasy eto Eropa:
			</p>
			<ul>
				<li>
					amin&#8217;ny alàlan&#8217;ny fikarakarana hetsika ara-kolontsaina sy fanatanjahantena
				</li>
				<li>
					amin&#8217;ny alàlan&#8217;ny fampiroboroboana ny fanatanjahantena sy ny kolontsain&#8217;ireo madagasikara monina any Alemana
				</li>
				<li>
					amin&#8217;ny fanaparitahana vaovao momba ny programa fifanakalozana fiteny
				</li>
				<li>
					Fanamorona ireo mpikambana MKSD hiditra amin´ny fiarahamonina Allemana 
				</li>
				<li>
					asa an-tsitrapo ataon&#8217;ny mpikamban&#8217;ny MKSD
				</li>
				<li>
					hetsika iraisana hanohanana ireo sahirana eto Madagasikara
				</li>
				<li>
					fiofanana ara-panatanjahantena mahazatra any Munich
				</li>
			</ul>

			<p>
				Manana fanontaniana hafa ve ianao? Azafady aza misalasala manoratra mivantana amin&#8217;ny pejinay Facebook na 
				<a itemprop="email" href="mailto:fihaonana.malagasy@gmail.com">kontakt.mksd@gmail.com
							</a>
					Ary ny mombamomba ny fiarovana ny data nao dia hitanao
					<a href="{% url 'about' %}"> ato</a>
			</p>
		</div>    
				<footer class="blockquote-footer">
					MKSD Admin 
					<cite title="Source Title">
						Ffaly mandray anao hatrany
					</cite>
				</footer>
		    </blockquote>
		  </div>
		</div>

<br>


</div>




{% endblock content %}





