{% extends 'base.html' %}
{% load static %}

{% block title %}
	ARMUT & HUNGER
{% endblock title %}

{% block content %}
<br><br><br>

<style type="text/css">
	
	.container {
	}

</style>

<div class="container">
	


		<div class="card">
		  <div class="card-header">
		    <h1>
		    	<small>
					<img class="logo_mitmachen" src="{% static '/images/LOGO.png' %}" width="150px">
				</small>

				ARMUT & HUNGER BEKÄMPFEN
			</h1>

		  </div>
		  <div class="card-body">
		    <blockquote class="blockquote mb-0">
				<p>
					Als Madagasse kennen wir schon das Leiden unserer Landsleute. Eines unserer Ziel ist es daher,
					ihnen so gut wie möglich helfen zu können. Daher sameln wir Spenden aus der ganzen Welt und nehmen
					alle Hilfe, die zu uns kommen. <br><br> Für mehr Detail können Sie zu uns schreiben.
					Oder einfach hier Spende geben <a href="{% url 'mictmachen' %}">Mitmachen</a>
				</p>  
				<hr>

				<p>
					Amin'ny maha Malagasy ny tena dia tsapanay ihany koa ny fahoriana mahazo ny mpiray tanindrazana.
					Anisan'ny tanjonay dia anampy azy ireo arak'izay tratra. Mandray sy manangona ireo izay fanampiana 
					na fanomezana avy amintsika maneran-tany izahay noho izany. <br><br> Afaka manoratra aminay ianao 
					raha mila fanazavana fanampiny. Na manaova tolo-tanana ato: <a href="{% url 'mictmachen' %}">Mitmachen</a>
					
				</p>    
				<footer class="blockquote-footer">
					 MKSD 
					<cite title="Source Title">
						Admin
					</cite>
				</footer>
		    </blockquote>
		  </div>
		</div>

<br>


</div>

{% endblock content %}

















