{% extends 'base.html' %}
{% block title %}  Update Post  {% endblock %}

{% block content %}
	{% if user.is_authenticated %}
		{% if user.id == post.author.id %}
			

			<style type="text/css">
				
				.container {
					width: 500px;
				}

			</style>


			<div class="container">
				<h1>Update Post</h1>
				<div class="form-group">
					<form method="POST">
						{% csrf_token %}
						{{ form.as_p }}
						{{ form.media }}
						<button class="btn btn-primary">Update</button>
						<a href="{% url 'article-detail' post.pk %}" class="btn btn-secondary">Cancel</a>
						
					</form>
				</div>
			</div>
		{% else %}
			Vous ne pouvez pas!!!
		{% endif %}
		
	{% else %}
		<h1>Vous n'êtes pas sensé faire ça et vous le savez non? Kurwa!!!</h1>
	{% endif %}

{% endblock %}